@import "tailwindcss";

@theme {
  /* Define custom colors using CSS variables with the --color- prefix */
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-my-custom-color: #ff5733;
  /* Your new custom color */
}